<h1>{{user.type}} {{user.brand}} [{{user.id}}]</h1>
<ul class="list-group">
    <li class="list-group-item">Price, $: {{user.price}}</li>
    <li class="list-group-item">Place: {{user.place}}</li>
</ul>
<a class="btn btn-default pull-left" href="/">Back</a>
<form method="POST" action="/equip/delete/{{user.id}}?_method=DELETE">
    <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>